{% this.form.create() %}
    <fieldset>
        <legend>Create SINGLE</legend>

        <div class="control-group">
            <div class="controls">
                {{ this.form.submit('Create',{'class':'btn btn-primary'}) }}
            </div>
        </div>
    </fieldset>
{% this.form.end() %}